#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(86, 85, 85);
}

p {
  font-size: 20px;
  line-height: 1.4;
  color: rgb(86, 85, 85);
  font-weight: 600;
}
